:root {
    --bg: #fff;
    --color: #000;
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg: #000;
        --color: #fff;
    }
}
html {
    display: flex;
    min-height: 100%;
}
body {
    margin: auto;
    min-width: max-content;
    padding: 20px;
    font-family: verdana;
    font-size: 14px;
    line-height: 26px;
    color: var(--color);
    background-color: var(--bg);
}
h2 {
    text-align: center;
    padding: 0px 0px 10px 0px;
}
label {
    font-size: 12px;
    position: relative;
    right: 5%;
}
#day,
#month,
#year {
    width: 64px !important;
}
td {
    height: 28px;
}
select {
    width: -webkit-fill-available;
    width: -moz-available;
}
select:focus {
    outline-style: auto;
}
button {
    float: right;
}
input {
    width: -webkit-fill-available !important;
    width: -moz-available !important;
}
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
textarea {
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    resize: none;
    height: 50px;
    position: relative;
    top: 6px;
    bottom: 6px;
}
#another {
    margin-right: 6px;
}
.header {
    height: 36px;
}
.footer {
    text-align: center;
    font-size: 9px;
    padding-top: 8px;
}
